extends layout

block content
  h1= title
  p You are on instructor landing page. After integration this page may not exist as intructor login, register will be redirected directly from main website express application.
