<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <style>
      .footer {
        overflow: hidden;
        background-color: #f1f1f1;
        padding: 20px 10px;
      }

      .footer-center {
        text-align: center;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 7px;
        padding-right: 7px;
        text-decoration: none;
        font-size: 18px;
        border-radius: 0px;
      }
    </style>
  </head>
  <body>
    <div class="footer">
      <div class="footer-center">
        <b>
          ALL RIGHTS RESERVED
          <i class="far fa-copyright"></i>
          2018
        </b>
      </div>
    </div>
  </body>
</html>
