<!-- views/partials/header.ejs -->
<div class="header">
  <!--Edit this section to put logo-->
  <a href="/" class="logo">Company logo</a>
  <!--end edits here -->
  <div class="header-right">
    <!--<a href="/logout"><B>Sign Out <i class="fas fa-sign-out-alt"></i></B></a>
    -->
  </div>
</div>
