<!-- views/partials/head.ejs -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<Title>WidgetEduTech</Title>
<link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">
<link rel="stylesheet" href="/stylesheets/header.css" type="text/css" media="all">
<link rel="stylesheet" href="/stylesheets/footer.css" type="text/css" media="all">
<link rel="stylesheet" href="/stylesheets/normalize.css" type="text/css" media="all">

<!--CSS load bootstrap from CDN-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
